root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.java]
ij_java_lambda_brace_style = end_of_line
ij_java_method_brace_style = end_of_line
ij_java_class_brace_style = end_of_line
ij_java_block_brace_style = end_of_line
ij_java_if_brace_force = always
ij_java_for_brace_force = always
ij_java_while_brace_force = always
ij_java_do_while_brace_force = always
ij_java_spaces_around_equality_operators = true
ij_java_space_after_quest = true
ij_java_space_after_colon = true

# Always use explicit imports
ij_java_use_single_class_imports = true
ij_java_names_count_to_use_import_on_demand = 999
ij_java_class_count_to_use_import_on_demand = 999
ij_java_packages_to_use_import_on_demand =

